<link rel="stylesheet" href="<%= assetPath('css/daily.css') %>">

<div id="habits-container">
    <ul>
        <% for(habit of habits_list) { %>
            <li id="<%= habit._id %>" class="habit">
                <form action="/update?id=<%= habit._id %>" method="POST">
                    <input type="text" name="description" class="desc" value="<%= habit.description %>" required>
                    <input type="submit" value="Update" class="update">
                </form>

                <select id="<%= habit._id %>" class="status" onchange="setStatus()">
                    <option value="none">None</option>
                    <option value="done">Done</option>
                    <option value="not done">Not Done</option>
                </select>

                <a class="delete" href="/delete?id=<%= habit._id %>"><i class="fa-solid fa-trash-can"></i></a>
            </li>
        <% } %>
    </ul>
</div>

<script>
    // function to update status of a habit in UI and in DB
function setStatus() {
  let statuses = document.querySelectorAll(".status");

  for (let status of statuses) {
    const habitId = status.id;

    fetch(`/update-status?id=${habitId}&status=${status.value}`, {
      method: "POST",
    })
      .then((res) => res.json())
      .then((data) => {
        let habit = data.habit;
        setStatusColor();
      })
      .catch((err) => console.log("Error: ", err));
  }
}

// making view dropdown value and habit status persistent on page reload
window.onload = () => {
  let view = document.querySelector("#view");

  localStorage.setItem("view", view.value);

  let viewRoute = localStorage.getItem("view");

  if (viewRoute != null) {
    let options = view.querySelectorAll("option");

    for (let option of options) {
      if (option.value == viewRoute) {
        option.setAttribute("selected", true);
      }
    }
  }

  let statuses = document.querySelectorAll(".status");

  for (let status of statuses) {
    let habitId = status.id;

    fetch(`/get-habit?id=${habitId}`)
      .then((res) => res.json())
      .then((data) => {
        let habit = data.habit;

        if (habit != null) {
          let habitStatus = habit.status;

          let options = status.querySelectorAll("option");

          for (let option of options) {
            if (option.value == habitStatus) {
              option.setAttribute("selected", true);
              setStatusColor();
            }
          }
        }
      })
      .catch((err) => console.log("Error: ", err));
  }
};

// function to set color corresponding to habit status
function setStatusColor() {
  let habits = document.querySelectorAll(".habit");

  for (let habit of habits) {
    let status = habit.querySelector(".status");

    if (status.value == "done") {
      status.style.backgroundColor = "lightgreen";
    } else if (status.value == "not done") {
      status.style.backgroundColor = "red";
    } else if (status.value == "none") {
      status.style.backgroundColor = "lightgrey";
    }
  }
}
</script>