<link rel="stylesheet" href="<%= assetPath('css/weekly.css') %>">

<div id="habits-container">
    <ul>
        <li id="days">
            <% for(d of days) { %>
                <div><%= d %></div>
            <% } %>
        </li>

        <% for(habit of habits_list) { %>
            <li id="<%= habit._id %>" class="habit">
                <form action="/update?id=<%= habit._id %>" method="POST">
                    <input type="text" name="description" class="desc" value="<%= habit.description %>" required>
                    <input type="submit" value="Update" class="update">
                </form>

                <% for(let i=0; i<days.length; i++) { %>
                    <input id="hidden" name="hidden" type="hidden" value="<%= i %>">
                    <select id="<%= habit._id %>" class="status" onchange="setStatus(this)">
                        <option value="none">None</option>
                        <option value="done">Done</option>
                        <option value="not done">Not Done</option>
                    </select>
                <% } %>

                <a class="delete" href="/delete?id=<%= habit._id %>"><i class="fa-solid fa-trash-can"></i></a>
            </li>
            <% } %>
    </ul>
</div>

<div id="warning">
    <h1>Either switch to Daily View or increase screen size!!!</h1>
</div>

<script>
    // function to update status of a habit on a particular week day in UI and in DB
function setStatus(status) {
  const habitId = status.id;
  const day = status.previousElementSibling.value;

  fetch(
    `/update-weekly-status?id=${habitId}&day=${day}&status=${status.value}`,
    { method: "POST" }
  )
    .then((res) => res.json())
    .then((data) => {
      console.log(data.habit.days);
      setStatusColor();
    })
    .catch((err) => console.log("Error: ", err));
}

// making view dropdown value and habit status persistent on page reload
window.onload = () => {
  let viewRoute = localStorage.getItem("view");

  if (viewRoute != null) {
    let view = document.querySelector("#view");
    let options = view.querySelectorAll("option");

    for (let option of options) {
      if (option.value == viewRoute) {
        option.setAttribute("selected", true);
      }
    }
  }

  let habits = document.querySelectorAll(".habit");

  for (let h of habits) {
    const habitId = h.id;

    let statuses = h.querySelectorAll(".status");

    fetch(`/get-habit?id=${habitId}`)
      .then((res) => res.json())
      .then((data) => {
        let habit = data.habit;

        if (habit != null) {
          let habitStatuses = habit.days;

          for (let i = 0; i < habitStatuses.length; i++) {
            statuses[i].value = habitStatuses[i];

            let options = statuses[i].querySelectorAll("option");

            for (let option of options) {
              if (option.value == habitStatuses[i]) {
                option.setAttribute("selected", true);
                setStatusColor();
              }
            }
          }
        }
      })
      .catch((err) => console.log("Error: ", err));
  }
};

// function to set color corresponding to habit status
function setStatusColor() {
  let habits = document.querySelectorAll(".habit");

  for (let habit of habits) {
    let statuses = habit.querySelectorAll(".status");

    for (let status of statuses) {
      if (status.value == "done") {
        status.style.backgroundColor = "lightgreen";
      } else if (status.value == "not done") {
        status.style.backgroundColor = "red";
      } else if (status.value == "none") {
        status.style.backgroundColor = "lightgrey";
      }
    }
  }
}
</script>